!!!
html
  head
    link(href="../assets/prettify/prettify.css", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="../assets/prettify/prettify.js")
    style
      !{style}
  body(onload="prettyPrint()")
    !{toc}
    div
      !{body}
